<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul>
            <li>Dirección: Calle Falsa 123</li>
            <li>Teléfono: +123 456 7890</li>
            <li>Email: info&#64;ejemplo.com</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Enlaces rápidos</h5>
          <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#contactos">Contactos</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Síguenos</h5>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  